$theme-colors: (
  "primary": #0092FF,
  "danger": #ff4136,
);

@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import "./scss/bootstrap.scss";
@import "./styles/styles-picker.scss";
@import "./styles/styles-datepicker.scss";


@font-face{
  font-family:"GraphikLight";
  src:url("/static/fonts/graphik/Graphik-Light.eot");
  src:url("/static/fonts/grahik/Graphik-Light.eot") format("eot"),url("/static/fonts/graphik/Graphik-Light.svg") format("svg"),
  url("/static/fonts/graphik/Graphik-Light.ttf") format("ttf"),url("/static/fonts/graphik/Graphik-Light.woff") format("woff")
}
@font-face{
  font-family:"GraphikRegular";
  src:url("/static/fonts/graphik/Graphik-Regular.eot");
  src:url("/static/fonts/graphik/Graphik-Regular.eot") format("eot"),url("/static/fonts/graphik/Graphik-Regular.svg") format("svg"),
  url("/static/fonts/graphik/Graphik-Regular.ttf") format("ttf"),url("/static/fonts/graphik/Graphik-Regular.woff") format("woff")
}
@font-face{
  font-family:"GraphikMedium";
  src:url("/static/fonts/graphik/Graphik-Medium.eot");
  src:url("/static/fonts/graphik/Graphik-Medium.eot") format("eot"),url("/static/fonts/graphik/Graphik-Medium.svg") format("svg"),
  url("/static/fonts/graphik/Graphik-Medium.ttf") format("ttf"),url("/static/fonts/graphik/Graphik-Medium.woff") format("woff")
}
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900');
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
}
.icon-form{
  position: absolute;
  right:30px;
  margin-top:-28px;
}
.btn-primary{
  background-color: #9A82D2;
  background-image: linear-gradient(#9A82D2, #705E9B);
}
.btn-success{
  background-color: #1e7e34;
  background-image: linear-gradient(rgb(85, 173, 77), #1e7e34);
}
.btn-danger{
  background-color: #ff1103;
  background-image: linear-gradient(#ff1103, #d61a10);
}
.card-content-header{
  position: absolute;
  bottom:0px;
  width: 100%;
  color: #fff;
}
body{
  background: #fff;
  font-family: 'GraphikRegular';
  // font-weight: 400;
  font-size:14px;
}
.font-bold{
  font-family: 'GraphikMedium';
  font-weight: 500;
}
.font-italic{
  font-family: 'Parisienne', cursive;
}
.font-number{
  font-family: 'Anonymous Pro', monospace;
}
//
// Switches for Bootstrap 4.
//
// - Fully customizable with Sass variables
// - No JavaScript required
// - Fully accessible
//

//
// IMPORTANT: These Sass variables are defined in Bootstrap's variables.scss. You should import that file first, then remove these.
//
$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$input-height: 2.375rem;
$input-height-sm: 1.9375rem;
$input-height-lg: 3rem;
$input-btn-focus-width: .2rem;
$custom-control-indicator-bg: #dee2e6;
$custom-control-indicator-disabled-bg: #e9ecef;
$custom-control-description-disabled-color: #868e96;
$white: white;
$theme-colors: (
  'primary': #08d
);

//
// These variables can be used to customize the switch component.
//
$switch-height: calc(#{$input-height} * .8) !default;
$switch-height-sm: calc(#{$input-height-sm} * .8) !default;
$switch-height-lg: calc(#{$input-height-lg} * .8) !default;
$switch-border-radius: $switch-height !default;
$switch-bg: $custom-control-indicator-bg !default;
$switch-checked-bg: map-get($theme-colors, 'primary') !default;
$switch-disabled-bg: $custom-control-indicator-disabled-bg !default;
$switch-disabled-color: $custom-control-description-disabled-color !default;
$switch-thumb-bg: $white !default;
$switch-thumb-border-radius: 50% !default;
$switch-thumb-padding: 2px !default;
$switch-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba(map-get($theme-colors, 'primary'), .25);
$switch-transition: .2s all !default;

.switch {
  font-size: $font-size-base;
  position: relative;

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;

    + label {
      position: relative;
      min-width: calc(#{$switch-height} * 2);
      border-radius: $switch-border-radius;
      height: $switch-height;
      line-height: $switch-height;
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(#{$switch-height} * 2) + .5rem);
    }

    + label::before,
    + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(#{$switch-height} * 2);
      bottom: 0;
      display: block;
    }

    + label::before {
      right: 0;
      background-color: $switch-bg;
      border-radius: $switch-border-radius;
      transition: $switch-transition;
    }

    + label::after {
      top: $switch-thumb-padding;
      left: $switch-thumb-padding;
      width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      border-radius: $switch-thumb-border-radius;
      background-color: $switch-thumb-bg;
      transition: $switch-transition;
    }

    &:checked + label::before {
      background-color: $switch-checked-bg;
    }

    &:checked + label::after {
      margin-left: $switch-height;
    }

    &:focus + label::before {
      outline: none;
      box-shadow: $switch-focus-box-shadow;
    }

    &:disabled + label {
      color: $switch-disabled-color;
      cursor: not-allowed;
    }

    &:disabled + label::before {
      background-color: $switch-disabled-bg;
    }
  }

  // Small variation
  &.switch-sm {
    font-size: $font-size-sm;

    input {
      + label {
        min-width: calc(#{$switch-height-sm} * 2);
        height: $switch-height-sm;
        line-height: $switch-height-sm;
        text-indent: calc(calc(#{$switch-height-sm} * 2) + .5rem);
      }

      + label::before {
        width: calc(#{$switch-height-sm} * 2);
      }

      + label::after {
        width: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
        height: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
      }

      &:checked + label::after {
        margin-left: $switch-height-sm;
      }
    }
  }
// Large variation
&.switch-lg {
  font-size: $font-size-lg;

  input {
    + label {
      min-width: calc(#{$switch-height-lg} * 2);
      height: $switch-height-lg;
      line-height: $switch-height-lg;
      text-indent: calc(calc(#{$switch-height-lg} * 2) + .5rem);
    }

    + label::before {
      width: calc(#{$switch-height-lg} * 2);
    }

    + label::after {
      width: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
      height: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
    }

    &:checked + label::after {
      margin-left: $switch-height-lg;
    }
  }
}

+ .switch {
  margin-left: 1rem;
}
}
.transfer-receipt{
  background-color: #F8F8EB;
}
.text-white{
  color: #fff
}
table { border-collapse: collapse; }

tr:first-child td:first-child { border-top-left-radius: 6px;
  box-shadow: 0 0px 4px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.08);

}
tr:first-child td:last-child { border-top-right-radius: 6px; }
tr:last-child td:first-child { border-bottom-left-radius: 6px; }
tr:last-child td:last-child { border-bottom-right-radius: 6px; }
.font-10{
  font-size:10px;
}
.font-12{
  font-size:12px;
}
.font-14{
  font-size:14px;
}
.font-16{
  font-size:16px;
}
.font-18{
  font-size:18px;
}
.pl-d-0{
  padding-left:0px !important;
}
.pl-d-2{
  padding-left:0px !important
}
.circle-menu{
  background : red;
  border-radius: 50%;
  height: 60px;
  width:60px;
}
.navbar-nav > .navbar-item > .active{
  background:red
}
.navbar-light-custom .navbar-nav > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 5px solid rgba(255,255,255, .8);
  font-family: 'GraphikMedium';
  padding-bottom:5px
}
// dropdown style
@function opposite-position($directions) {
  $opposite-directions: ();
  $direction-map: (
          'top':    'bottom',
          'right':  'left',
          'bottom': 'top',
          'left':   'right',
          'center': 'center',
          'ltr':    'rtl',
          'rtl':    'ltr'
  );

  @each $direction in $directions {
      $direction: to-lower-case($direction);

      @if map-has-key($direction-map, $direction) {
          $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
      } @else {
          @warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
      }
  }

  @return $opposite-directions;
}

@mixin make-dropdown-menu-triangle($position, $posY, $posX, $valY, $valX) {
  $baseName: 'dropdown-menu-triangle';
  .#{$baseName}-#{$position} { &:before, &:after {
  display: inline-block;
  position: absolute;
  content: ''; } };

  @if not index(top right bottom left, $posY) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }
  
  .#{$baseName}-#{$position}:before {
    $perpendicular-borders: -$valY solid transparent;  
    #{$posY}: $valY;
    #{$posX}: $valX;
    border-#{opposite-position($posY)}: -$valY solid #ccc;
    
    @if $posY == top or $posY == bottom {
      border-left: $perpendicular-borders;
      border-right: $perpendicular-borders;
    } @else if posY == right or $posY == left {
      border-bottom: $perpendicular-borders;
      border-top: $perpendicular-borders;
    }
    
    border-#{opposite-position($posY)}-color: rgba(0, 0, 0, 0.2);       
  };
  
  .#{$baseName}-#{$position}:after {
    
    $perpendicular-borders: -($valY + 1) solid transparent;
    
    #{$posY}: $valY + 1;
    #{$posX}: $valX + 1;
    border-#{opposite-position($posY)}: -($valY + 1) solid #fff;
    
    @if $posY == top or $posY == bottom {
      border-left: $perpendicular-borders;
      border-right: $perpendicular-borders;
    } @else if posY == right or $posY == left {
      border-bottom: $perpendicular-borders;
      border-top: $perpendicular-borders;
    }
  };
}

@mixin make-dropdown-menu-triangles($map) {
@each $class, $posValue in $map {
  $posY: nth($posValue, 1);
  $posX: nth($posValue, 2);
  $valY: nth($posValue, 3);
  $valX: nth($posValue, 4);
  @include make-dropdown-menu-triangle($class, $posY, $posX, $valY, $valX)
}
}

$map: (
t-l: (top, left, -7px, 9px),
t-r: (top, right, -7px, 30px),
t-navbar: (top, left, -7px, 50px),
b-l: (bottom, left, -7px, 9px),
b-r: (bottom, right, -7px, 9px),
);

@include make-dropdown-menu-triangles($map);

.btn-group {
text-align: center;
  position: absolute;
  right: 0;
  margin: 0 auto;
  width: 30%;
  left: 0;
  top: 30%;
}

.btn-group.btn-group-2 {
left: 300px;
}
.line-navbar{
  margin-left:auto;
  margin-right:auto;
  height:1.4px;
  background:rgba(255,255,255, 0.1);
}
.br-1{
  border-radius:4px;
}
.bg-primary{
  background: rgb(102,126,234);
  background: linear-gradient(142deg, rgba(102,126,234,1) 0%, rgba(118,75,162,1) 100%);
}
.bg-primary-navbar{
  background: rgb(102,126,234);
  background:linear-gradient(142deg, rgba(102,126,234,1) 0%, rgba(118,75,162,1) 100%);
}
.mobile-hide{
  display: block;
}
.desktop-hide{
  display: none;
}
.box-shadow{
  box-shadow: 0 0px 4px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.08);
}
.box-shadow-bold{
  box-shadow: 4px 2px 15px rgba(0,0,0,0.05), 4px 2px 15px rgba(0,0,0,0.06);
}
.bg-transparent{
  background-color: rgba(255,255,255, .2) !important;
}
.line-vertical{
  background-color: rgba(255,255,255, .2);
  height: 80%;
  width:2px;
}
.border-none{
  border: none;
}
.bg-footer{
  background-color: #4A4A4A
}
.clear-notification{
  visibility: hidden;
}
.show-clear:hover .clear-notification{
  visibility: visible;
}
.dropdown-menu{
  border: none;
  font-size:14px;
}
.dropdown-item:focus{
  background: rgb(102,126,234);
  background: linear-gradient(142deg, rgba(102,126,234,1) 0%, rgba(118,75,162,1) 100%);
}
.box-list-primary{
  background: rgb(102,126,234);
  background: linear-gradient(142deg, rgba(102,126,234,1) 0%, rgba(118,75,162,1) 100%);
  color: white;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius: 6px;
  height: 35px;
  width: 35px;
}
.box-list-secondary{
  background: rgb(194,194,194);
  background: linear-gradient(142deg, rgba(194,194,194,1) 0%, rgba(152,152,152,1) 100%);
  color: white;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius: 6px;
  height: 35px;
  width: 35px;
}
.box-list-success{
  background: rgb(55, 160, 63);
  background: linear-gradient(142deg, rgb(84, 197, 93) 0%, rgb(55, 160, 63) 100%);
  color: white;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius: 6px;
  height: 35px;
  width: 35px;
}
.box-list-danger{
  background: rgb(236, 85, 59);
  background: linear-gradient(142deg, rgb(236, 85, 59) 0%, rgb(189, 57, 34) 100%);
  color: white;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius: 6px;
  height: 35px;
  width: 35px;
}
.border-settings{
  border: .5px solid rgba(0, 0, 0, 0.09);
  border-top:none !important;

}
.dropzone{
  position: relative;
  width: 180px;
  min-height: 180px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
// style mobile
@media only screen and (max-width: 980px) {
  .mobile-hide{
    display: none;
  }
  .dropzone{
    position: relative;
    width: 120px;
    min-height: 120px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .font-m-12{
    font-size:14px;
  }
  .pl-d-0{
    padding-left:15px !important;
  }
  .pl-d-2{
    padding-left:15px !important
  }
  .footer-text{
    text-align: center;
  }
  .footer-mobile{
    padding-top:40px !important; 
  }
  .my-m-0{
    margin-top: 0px !important;
    margin-bottom:10px !important
  }
  .desktop-hide{
    display :block;
  }
  // ===== burger icon  navbar style =====
  .br-0{
    border:none;
  }
#nav-icon1 {
  width: 23px;
  height: 10px;
  position: relative;
  top:-3px;
  margin: 15px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon1:focus{
  background:red
}
.navbar-collapse{
  transition: 1s ease-in-out
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgba(255,255,255,.8);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 7px;
}

#nav-icon1 span:nth-child(3) {
  top: 14px;
}

#nav-icon1.open span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: +60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

}